default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: |
          (?x)^(
            apps/webclient.old/tsconfig.json
          )$
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: pretty-format-json
        args: ["--autofix", "--no-ensure-ascii", "--no-sort-keys"]
        exclude: |
          (?x)^(
            apps/webclient.old/tsconfig.json
          )$
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      # - id: no-commit-to-branch
      #   args: ["--branch", "main", "--branch", "master"]

  # - repo: https://github.com/crate-ci/typos
  #   rev: v1.34.0
  #   hooks:
  #     - id: typos
  #       verbose: true
  #       args:
  #         - "--config"
  #         - ".github/typos.toml"
  #       exclude: |
  #         (?x)^(
  #           docs/.*|
  #           webclient/src/messages/.*|
  #           services/etc/data/default/seed/seed.sql|
  #           go.mod
  #         )$

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [
          "--strict",
          "--verbose",
          "ci",
          "chore",
          "docs",
          "feat",
          "fix",
          "perf",
          "refactor",
          "revert",
          "test",
        ]

  - repo: local
    hooks:
      - id: local-precommit
        name: local pre-commit tasks
        description: Check formatting, linting, license headers, types and run tests.
        entry: bash -c 'make ok; git add -u' --
        # types_or: [javascript, jsx, ts, tsx, json, markdown]
        always_run: true
        pass_filenames: false
        language: system

      - id: webclient-kebab-case-files-only
        name: kebab-case files only
        entry: filenames must be kebab-case only
        language: fail
        files: 'webclient/(?!\.test\.[jt]sx?$)[^a-z0-9\-\.\/\[\]@]'
        exclude: |
          (?x)^(
            apps/webclient/src/messages/.*|
            apps/webclient/src/app/\[slug\]/_components/.*|
            apps/webclient/src/app/elements/_components/.*|
            apps/webclient/src/app/products/_components/.*|
            apps/webclient/src/app/stories/\[storyslug\]/_components/.*|
            apps/webclient/public/assets/.*|
            apps/webclient/Dockerfile|
            apps/webclient/README.md
          )$

      - id: rest-snake-case-files-only
        name: snake_case files only
        entry: filenames must be snake_case only
        language: fail
        files: '(?!\.test\.[jt]sx?$)[^a-z0-9_\.\/\[\]@]'
        exclude: |
          (?x)^(
            .claude/.*|
            .github/.*|
            .git/COMMIT_EDITMSG|
            docs/.*|
            apps/webclient/.*|
            apps/webclient.old/.*|
            apps/services/pkg/ajan/configfx/README.md|
            apps/services/pkg/ajan/connfx/README.md|
            apps/services/pkg/ajan/httpclient/README.md|
            apps/services/pkg/ajan/httpfx/README.md|
            apps/services/pkg/ajan/lib/README.md|
            apps/services/pkg/ajan/logfx/README.md|
            apps/services/pkg/ajan/processfx/README.md|
            apps/services/pkg/ajan/results/README.md|
            apps/services/pkg/ajan/types/README.md|
            apps/services/etc/locales/pt-PT.toml|
            apps/services/etc/locales/zh-CN.toml|
            apps/services/Dockerfile|
            apps/services/Makefile|
            .pre-commit-config.yaml|
            LICENSE|
            Makefile|
            CLAUDE.md|
            README.en.md|
            README.md|
            MEMORY.md
          )$
